name: Push to Cloudflare KV

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Add mask
        run: |
          IFS=',' read -ra MASKS <<< "${{ secrets.MASKS }}"
          for mask in "${MASKS[@]}"; do
            echo "::add-mask::$mask"
          done
      - uses: actions/checkout@v4
      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: "20"
      - name: Install dependencies
        run: npm install -g wrangler
      - name: Deploy to KV
        env:
          CLOUDFLARE_API_TOKEN: ${{ secrets.CLOUDFLARE_API_TOKEN }}
          CLOUDFLARE_ACCOUNT_ID: ${{ secrets.CLOUDFLARE_ACCOUNT_ID }}
        run: |
          for file in *.json; do
            filename=$(basename "$file" .json)
            content="$(cat "$file")"
            wrangler kv:key put --namespace-id=f207d1c49cc144ac893eb40be075bd0d "$filename" "$content"
          done
